@model Recipe

<form method="post" asp-action="Edit">
    <div class=" boder p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"></h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <h2 asp-for="Title">@Model.Title</h2>
            
        </div>
        <div class="mb-3">
            <label asp-for="Cuisine"></label>
            <input asp-for="Cuisine" disabled class="form-control" style="width:25%" placeholder="French? Japanese?" />
        </div>
        <div class="mb-3">
            <label asp-for="Category">Whats it for?</label>
            <select asp-for="Category" disabled class="form-control" style="width:25%" placeholder="Please Select an Option">
                <option></option>
                <option>Breakfast</option>
                <option>Lunch</option>
                <option>Dinner</option>
                <option>General Meal</option>
                <option>Dessert</option>
                <option>Side</option>
                <option>Snack</option>
                <option>Other</option>
            </select>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="w-25 btn-group" role="group">
            @*<button type="submit" class=" btn btn-primary mb-3" style="width:40%">
                <i class="bi bi-plus-circle"></i> &nbsp; Update Recipe
            </button>*@
            <a asp-controller="Recipe" asp-action="Index" class="btn btn-secondary mb-3" style="width: 40%">
                Back to recipes
            </a>
            <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mb-3"> <i class="bi bi-pencil-square"></i>Edit Recipe</a>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
